{% extends "base.html.twig" %}
{% block title %}
    Liste des séries TV - {{parent()}}
{% endblock %}

{% block body %}
        <section class="container text-center">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-6 mx-auto">
                    <h1 class="fw-light">Disponible maintenant {# sur <span>80's Flix</span> #}</h1>
                    <p class="lead lead-news">Découvrez notre sélection</p>
                    <div class="divider-custom">
                        {# <div class="divider-custom-line"></div>
                        <div class="divider-custom-icon"><i class="fas fa-tv"></i></div> #}
                        <div class="divider-custom-line"></div>
                    </div>
                </div>
            </div>
        </section>

        <div class="py-5">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                {# SERIES CARDS #}

                    {% for tvshow in tvshows %}
                        <div class="col card-group">
                            <div class="card shadow-sm border-secondary">
                                <a href="{{path('show_single_slug', {slug: tvshow.slug})}}"><img src=" {{asset('uploads/') ~ tvshow.image}} " alt="" class="img-fluid"></a>
                                <div class="card-body">
                                    <p class="card-text-title"> {{ tvshow.title }} </p>
                                    <p class="card-text-description"> {{tvshow.synopsis | u.truncate(150, '...')}} </p>
                                    <div class="d-flex justify-content-start align-items-center">
                                        <div class="btn-group">
                                            <a href=" {{path('show_single_slug', {slug: tvshow.slug})}} " class="btn btn-sm btn-outline-secondary">Voir</a>
                                            {# EDIT BUTTONS FOR ADMIN #}
                                            {% if is_granted("ROLE_ADMIN") %}
                                            <a href=" {{path('backoffice_tv_show_edit', {id: tvshow.id})}} " class="btn btn-sm btn-outline-secondary">Modifier</a>
                                            {% endif %}

                                            <div class="icons-card">
                                        
                                            {# THUMBS LIKE #}
                                            <small>                               
                                                <a href="{{path('show_like', {id: tvshow.id})}}"> 
                                                    <img src="{{asset('img/like.svg')}}" alt="thumbs up" class="like">       
                                                    {{tvshow.nbLikes}}
                                                </a>
                                                
                                            </small>

                                            {# FAVS  #}
                                            <div class="favorite">
                                        
                                            {% if is_granted("ROLE_USER") %}
                                                {% set isFavorite = false %}
                                                    {% for favoris in tvshow.favoris %}
                                                        {% if favoris.id == app.user.id %}  
                                                            {% set isFavorite = true %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% if isFavorite %}
                                                        <a href=" {{path('show_fav_remove', {id: tvshow.id})}} " class="nolink" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ajouter aux favoris"><i class="fas fa-star "></i></a>
                                                    {% else %}
                                                        <a href="{{path('show_fav_add', {id: tvshow.id})}}" class="nolink"><i class="far fa-star"></i></a>
                                                    {% endif %} 
                                                {% else %}
                                                    <i class="far fa-star"></i>
                                            {% endif %}
                                            
                                            </div> 
                                            {# FAVS END #}  
                                            </div>

                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </main>

{% endblock %}