{% extends 'backoffice/layout.html.twig' %}

{% block title %}Category Backoffice - {{parent()}} {% endblock %}

{% block content %}

        <section class="container text-center">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Catégories</h1>
                </div>
            </div>
        </section>


        <table class="table list-group-flush mx-auto w-auto table-responsive" style="color: white; margin=auto;">
            <thead>
                <tr class="col">
                    <th class="col">#</th>
                    <th class="col">Nom des catégories</th>
                    <th class="col"></th>
                </tr>
            </thead>
            <tbody>

            {% for category in categories %}
                <tr class="fw-light">
                    <td>{{ category.id}}
                    <td>{{ category.name}}</td>
                    <td>
                        <a class=" badge btn-bo edit" href="{{path('backoffice_category_update',{ id: category.id})}}">Modifier</a>
                        <a class=" badge btn-bo delete" href="{{path('backoffice_category_delete',{ id: category.id})}}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>

{% endblock %}
