{% extends 'backoffice/layout.html.twig' %}

{% block title %}Liste personnages - Backoffice - {{parent()}} {% endblock %}

{% block content %}

        <section class="container text-center">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Liste des personnages</h1>
                </div>
            </div>
        </section>

        <table class="table list-group-flush mx-auto w-auto table-responsive" style="color: white; margin=auto;">
            <thead>
                <tr class="col">
                    <th class="col">#</th>
                    <th class="col">Nom des personnages</th>
                    <th class="col"></th>
                </tr>
            </thead>
            <tbody>

            {% for character in characters %}
                <tr class="fw-light">
                    <td>{{ character.id}}
                    <td>{{character.lastname}} {{character.firstname}}</td>
                    <td>
                        <a class=" badge btn-bo edit" href="{{path('backoffice_character_update',{ id: character.id})}}">Modifier</a>
                        <a class=" badge btn-bo delete" href="{{path('backoffice_character_delete',{ id: character.id})}}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </main>

{% endblock %}
